# dependencies
/node_modules
/.pnpm-store

# next.js
/.next/
/out/

# production
/build
/dist

# debug
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# local env files
*.local
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# testing & coverage
/coverage
/test-results
/playwright-report
/blob-report
.playwright/
playwright/.cache

# OS files
.DS_Store
Thumbs.db
